header {
  background: #ebc8b2; padding: 8px 0; text-align: center;
}

footer {
  background: #ebc8b2; padding: 20px 0 10px 0;
}

h2, h3 {
  font-weight: 300;
}

#header {
  margin: 20px 0;
}

#logo {
  text-decoration: none; color: #ebc8b2; font-size: 55px; line-height: 10px;
}

#main {
  background: linear-gradient(175deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%), url('../images/indexBg.jpg') center center no-repeat fixed;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 20px;
}

#intro {
  font-size: 28px; color: #fff; font-weight: 300;
}

.container {
  background: rgba(255, 255, 255, 0.8); padding: 25px 15px; min-height: 600px;
}

.price {
  font-size: 30px;
}

.btn-nude {
  background: #ebc8b2;
}

.btn-nude:hover {
  background: #fbc8b2;
}

a:hover {
  text-decoration: none;
}

#slider div { text-align: center; }
#slider img { margin: auto; }

.slick-prev:before, .slick-next:before {
  color: #fbc8b2;
}