/*@media only screen and (max-width: 600px) {*/
/*  body {*/
/*    background-color: lightblue;*/
/*  }*/
/*}*/

header {
  background: #f7d7e3; padding: 8px 0; text-align: center;
}

footer {
  background: #f7d7e3; padding: 20px 0 10px 0;
}

h1, h2, h3 {
  font-weight: bolder;
}

#header {
  margin: 20px 0 0 0; padding: 0 0 20px 0;
}

#logo {
  text-decoration: none; color: #f7d7e3; font-size: 85px; line-height: 20px;
}

#logo span {
  font-size: 55px;
}

#topLinks {
  font-size: 24px; font-weight: bolder;
}

#treatmentMenu img {
  display: none;
}

#main {
  background: linear-gradient(175deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 75%), url('../images/indexBg.jpeg') center center no-repeat fixed;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 20px;
}

#intro {
  font-size: 28px; color: #fff; font-weight: 300;
}

.container {
  background: rgba(255, 255, 255, 0.8); padding: 25px 15px; min-height: 600px;
}

.price {
  font-size: 30px;
}

.btn-nude {
  background: #f7d7e3;
}

.btn-nude:hover {
  background: #f7d7e3;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none; color: #000;
}

.smallText {
  font-size: 18px; padding: 10px 0;
}

#slider div { text-align: center; }
#slider img { margin: auto; }

.slick-prev:before, .slick-next:before {
  color: #f7d7e3;
}